{% extends "layout.html" %}
<html>
<head>
    {% block title %} Đơn thuốc {% endblock %}>
</head>
<body>
    {% block content %}
    <h1> </h1><br>
    <h1> </h1><br>
    <h1> </h1><br>
    <h1> </h1><br>
    <h1> Danh sách Đơn Thuốc Của Bệnh Nhân </h1><br>
    <table border="1">
    <tr>
        <td> ID </td>
        <td> ID Bệnh Nhân </td>
        <td> Tên Thuốc </td>
        <td> Mã thuốc </td>
        <td> Đơn Giá </td>
        <td> Số Lượng </td>
        <td> Ngày tạo đơn </td>
    </tr>
    {% for data in medicines %}
    <tr class = "center">
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>{{data[4]}}</td>
        <td>{{data[5]}}</td>
        <td>{{data[6]}}</td>
    </tr>
    {% endfor %}
    </table>
    {% endblock %}
</body>
</html>