<!DOCTYPE html>
<html>

<head> <link rel="stylesheet" href="/static/dsbenh.css"></head>

<body>


    <h3 class = 'bcc'>Tra theo bảng chữ cái</h3>

    <ul>
        <li> <a href="#a">a</a></li>
        <li> <a href="#b">b</a></li>
        <li> <a href="#c">c</a></li>
        <li> <a href="#d">d</a></li>
        <li> <a href="#e">e</a></li>
        <li> <a href="#f">f</a></li>
        <li> <a href="#g">g</a></li>
        <li> <a href="#h">e</a></li>
        <li> <a href="#i">i</a></li>
        <li> <a href="#j">j</a></li>
        <li> <a href="#k">k</a></li>
        <li> <a href="#l">l</a></li>
        <li> <a href="#m">m</a></li>
        <li> <a href="#n">n</a></li>
        <li> <a href="#o">o</a></li>
        <li> <a href="#p">p</a></li>
        <li> <a href="#q">q</a></li>
        <li> <a href="#r">r</a></li>
        <li> <a href="#s">s</a></li>
        <li> <a href="#t">t</a></li>
        <li> <a href="#u">u</a></li>
        <li> <a href="#v">j</a></li>
        <li> <a href="#x">x</a></li>
        <li> <a href="#y">y</a></li>
        
    </ul>


    <section class="disease-body collapsible-container collapsible-block screen-sm">
        <h3 class="collapse-trigger">Bệnh được tìm nhiều nhất</h3>

        <ul class="collapsible-target">

            <li><a href="https://www.vinmec.com/vi/tin-tuc/thong-tin-suc-khoe/roi-loan-tien-dinh-la-benh-gi/">Rối loạn tiền đình</a></li>

            <li><a href="/vi/benh/benh-lao-phoi-3183/">Bệnh lao phổi</a></li>

            <li><a href="/vi/benh/te-bi-tay-chan-3272/">Tê bì tay chân</a></li>

            <li><a href="/vi/benh/viem-dai-trang-3061/">Viêm đại tràng</a></li>

            <li><a href="/vi/benh/gioi-leo-3132/">Giời leo</a></li>

            <li><a href="/vi/benh/uon-van-3130/">Uốn ván</a></li>

            <li><a href="/vi/benh/ap-xe-3331/">Áp xe</a></li>

            <li><a href="/vi/benh/viem-xoang-2953/">Viêm xoang</a></li>

            <li><a href="/vi/benh/sot-ret-4443/">Sốt rét</a></li>

            <li><a href="/vi/benh/suy-than-3075/">Suy thận</a></li>

            <li><a href="/vi/benh/virus-ebola-4917/">Virus Ebola</a></li>


        </ul>
    </section>


    <section id="a" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">A</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/ap-xe-3331/">Áp xe</a></li>

            <li><a href="/vi/benh/ap-xe-vu-3283/">Áp xe vú</a></li>

            <li><a href="/vi/benh/ap-xe-hau-mon-3332/">Áp xe hậu môn</a></li>

            <li><a href="/vi/benh/ap-xe-phoi-3333/">Áp xe phổi</a></li>

            <li><a href="/vi/benh/alzheimer-3112/">Alzheimer</a></li>

            <li><a href="/vi/benh/am-anh-so-hai-4678/">Ám ảnh sợ hãi</a></li>

            <li><a href="/vi/benh/aids-4699/">AIDS</a></li>

            <li><a href="/vi/benh/addison-suy-tuyen-thuong-than-nguyen-phat-4696/">Addison (suy tuyến thượng thận nguyên
                    phát)</a></li>

            <li><a href="/vi/benh/amip-an-nao-3153/">Amip ăn não</a></li>

            
        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="b" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">B</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/benh-lao-phoi-3183/">Bệnh lao phổi</a></li>

            <li><a href="/vi/benh/bach-hau-4743/">Bạch hầu</a></li>

            <li><a href="/vi/benh/benh-lang-ben-3152/">Bệnh lang ben</a></li>

            <li><a href="/vi/benh/basedow-3241/">Basedow</a></li>

            <li><a href="/vi/benh/buou-co-3182/">Bướu cổ</a></li>

            <li><a href="/vi/benh/bo-dien-3157/">Bò điên</a></li>

            <li><a href="/vi/benh/babesia-nhiem-trung-do-babesia-3337/">Babesia (nhiễm trùng do Babesia)</a></li>

            <li><a href="/vi/benh/benh-gian-tinh-mach-chi-duoi-4865/">Bệnh giãn tĩnh mạch chi dưới</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="c" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">C</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/cuong-kinh-3012/">Cường kinh</a></li>

            <li><a href="/vi/benh/co-tim-phi-dai-3305/">Cơ tim phì đại</a></li>

            <li><a href="/vi/benh/chan-thuong-ham-mat-4694/">Chấn thương hàm mặt</a></li>

            <li><a href="/vi/benh/chan-an-than-kinh-bieng-an-tam-ly-3408/">Chán ăn thần kinh (biếng ăn tâm lý)</a></li>

            <li><a href="/vi/benh/cao-huyet-ap-o-tre-em-4717/">Cao huyết áp ở trẻ em</a></li>

            <li><a href="/vi/benh/co-tim-4883/">Cơ tim</a></li>

            <li><a href="/vi/benh/cham-noi-3031/">Chậm nói</a></li>

            <li><a href="/vi/benh/chan-thuong-sun-chem-4489/">Chấn thương sụn chêm</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="d" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">D</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/down-3074/">Down</a></li>

            <li><a href="/vi/benh/dich-hach-3576/">Dịch hạch</a></li>

            <li><a href="/vi/benh/di-ung-thoi-tiet-3127/">Dị ứng thời tiết</a></li>

            <li><a href="/vi/benh/di-ung-sua-3131/">Dị ứng sữa</a></li>

            <li><a href="/vi/benh/day-thi-som-o-nam-3261/">Dậy thì sớm ở nam</a></li>

            <li><a href="/vi/benh/di-ung-thuc-pham-3134/">Dị ứng thực phẩm</a></li>

            <li><a href="/vi/benh/dai-3150/">Dại</a></li>

            <li><a href="/vi/benh/di-dang-mach-nao-3218/">Dị dạng mạch não</a></li>

            <li><a href="/vi/benh/do-amip-4876/">Do amip</a></li>

            <li><a href="/vi/benh/day-thi-muon-3307/">Dậy thì muộn</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    







    <section id="g" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">G</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/gioi-leo-3132/">Giời leo</a></li>

            <li><a href="/vi/benh/gout-gut-3052/">Gout (gút)</a></li>

            <li><a href="/vi/benh/gian-tinh-mach-thung-tinh-2968/">Giãn tĩnh mạch thừng tinh</a></li>


          

            <li><a href="/vi/benh/gian-ong-dan-sua-3141/">Giãn ống dẫn sữa</a></li>

            <li><a href="/vi/benh/giun-chi-3144/">Giun chỉ</a></li>

            <li><a href="/vi/benh/gu-cot-song-4686/">Gù cột sống</a></li>

            <li><a href="/vi/benh/gian-mao-mach-xuat-huyet-di-truyen-4465/">Giãn mao mạch xuất huyết di truyền</a></li>

            <li><a href="/vi/benh/gay-xuong-mac-4681/">Gãy xương mác</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="h" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">H</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/hoi-chung-mong-va-xuong-banh-che-3753/">Hội chứng móng và xương bánh chè</a></li>

            <li><a href="/vi/benh/hoi-chung-albright-3667/">Hội chứng Albright</a></li>

            <li><a href="/vi/benh/hoi-chung-quai-mu-3773/">Hội chứng quai mù</a></li>

            <li><a href="/vi/benh/hoi-chung-smith-lemli-opitz-4862/">Hội chứng Smith Lemli Opitz</a></li>

            <li><a href="/vi/benh/hoi-chung-hong-vu-cong-4879/">Hội chứng hông vũ công</a></li>

            <li><a href="/vi/benh/hoi-chung-ganser-3719/">Hội chứng Ganser</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>





    <section id="j" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">J</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/jet-lag-3184/">Jet lag</a></li>

        </ul>
        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="k" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">K</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/kho-mat-3081/">Khô mắt</a></li>

            <li><a href="/vi/benh/khong-dung-nap-lactose-3845/">Không dung nạp Lactose</a></li>

            <li><a href="/vi/benh/khi-phe-thung-3088/">Khí phế thũng</a></li>

            <li><a href="/vi/benh/kawasaki-viem-mach-mau-2977/">Kawasaki (viêm mạch máu)</a></li>

            <li><a href="/vi/benh/khoeo-chan-bam-sinh-3103/">Khoèo chân bẩm sinh</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="l" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">L</h3>

        <ul class="collapsible-target">

          
           
            
           
            <li><a href="/vi/benh/loan-duong-mo-4893/">Loạn dưỡng mỡ</a></li>

            <li><a href="/vi/benh/lao-co-xuong-4892/">Lao cơ xương</a></li>

            <li><a href="/vi/benh/lao-ruot-phuc-mac-va-mac-treo-cac-tuyen-lao-bung-3868/">Lao ruột, phúc mạc và mạc treo
                    các
                    tuyến (lao bụng)</a></li>

            <li><a href="/vi/benh/legionnaire-4919/">Legionnaire</a></li>

            <li><a href="/vi/benh/lao-he-than-kinh-4895/">Lao hệ thần kinh</a></li>

            <li><a href="/vi/benh/ly-do-balantidium-4737/">Lỵ do Balantidium</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="m" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">M</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/mau-kho-dong-3219/">Máu khó đông</a></li>

            <li><a href="/vi/benh/muc-coc-3210/">Mục cóc</a></li>

            <li><a href="/vi/benh/mat-tri-nho-3177/">Mất trí nhớ</a></li>

            <li><a href="/vi/benh/mu-mau-3190/">Mù màu</a></li>

            <li><a href="/vi/benh/mu-mat-4715/">Mù mắt</a></li>

           
            <li><a href="/vi/benh/mun-rop-lanh-tinh-3206/">Mụn rộp lành tính</a></li>

            <li><a href="/vi/benh/man-duc-nam-3094/">Mãn dục nam</a></li>

            

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="n" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">N</h3>

        <ul class="collapsible-target">

           

            <li><a href="/vi/benh/nhiem-trung-do-tu-cau-vang-4730/">Nhiễm trùng do tụ cầu vàng</a></li>

            <li><a href="/vi/benh/ngu-ngay-3212/">Ngủ ngáy</a></li>

            <li><a href="/vi/benh/nang-tuyen-bartholin-viem-tuyen-bartholin-3979/">Nang tuyến Bartholin (viêm tuyến
                    Bartholin)</a></li>

            <li><a href="/vi/benh/nhuoc-co-4676/">Nhược cơ</a></li>

            <li><a href="/vi/benh/ngoai-tam-thu-ngoai-tam-thu-that-3992/">Ngoại tâm thu (ngoại tâm thu thất)</a></li>

            <li><a href="/vi/benh/nam-mong-3968/">Nấm móng</a></li>

            
            <li><a href="/vi/benh/nhiem-nam-cryptococcus-4017/">Nhiễm nấm Cryptococcus</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>





    <section id="p" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">P</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/phong-4735/">Phong</a></li>

            <li><a href="/vi/benh/parkinson-3113/">Parkinson</a></li>

            <li><a href="/vi/benh/phinh-dong-mach-chu-2992/">Phình động mạch chủ</a></li>

            <li><a href="/vi/benh/phi-dai-tien-liet-tuyen-2930/">Phì đại tiền liệt tuyến</a></li>

            <li><a href="/vi/benh/polyp-mui-3151/">Polyp mũi</a></li>

            <li><a href="/vi/benh/polyp-co-tu-cung-3225/">Polyp cổ tử cung</a></li>

            <li><a href="/vi/benh/polyp-tui-mat-3237/">Polyp túi mật</a></li>

            <li><a href="/vi/benh/protein-nieu-thai-ky-3181/">Protein niệu thai kỳ</a></li>

            <li><a href="/vi/benh/polyp-ong-tieu-hoa-3063/">Polyp ống tiêu hóa</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="q" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">Q</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/quang-ga-3080/">Quáng gà</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="r" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">R</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/roi-loan-tien-dinh-3032/">Rối loạn tiền đình</a></li>

            <li><a href="/vi/benh/roi-loan-cuong-duong-2926/">Rối loạn cương dương</a></li>

           
            <li><a href="/vi/benh/roi-loan-sinh-tuy-mds-4784/">Rối loạn sinh tủy (MDS)</a></li>

            <li><a href="/vi/benh/rach-giac-mac-3033/">Rách giác mạc</a></li>

            <li><a href="/vi/benh/roi-loan-hoang-so-4144/">Rối loạn hoảng sợ</a></li>

            
          
        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="s" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">S</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/sot-ret-4443/">Sốt rét</a></li>

            <li><a href="/vi/benh/suy-than-3075/">Suy thận</a></li>

            <li><a href="/vi/benh/suy-giap-3245/">Suy giáp</a></li>

            <li><a href="/vi/benh/soi-than-3096/">Sỏi thận</a></li>

            <li><a href="/vi/benh/sau-rang-4504/">Sâu răng</a></li>

           
            <li><a href="/vi/benh/soi-bang-quang-3274/">Sỏi bàng quang</a></li>

           
            <li><a href="/vi/benh/sot-ve-mo-3319/">Sốt ve mò</a></li>

            <li><a href="/vi/benh/song-thi-3321/">Song thị</a></li>

            
            <li><a href="/vi/benh/suy-thai-trong-tu-cung-3279/">Suy thai trong tử cung</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="t" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">T</h3>

        <ul class="collapsible-target">


            <li><a href="/vi/benh/thalassemia-tan-mau-bam-sinh-2978/">Thalassemia (Tan máu bẩm sinh)</a></li>


            <li><a href="/vi/benh/thieu-mau-tan-huyet-2990/">Thiếu máu tán huyết</a></li>

           
            <li><a href="/vi/benh/thoat-vi-dia-dem-3090/">Thoát vị đĩa đệm</a></li>

            <li><a href="/vi/benh/tang-acid-uric-mau-3115/">Tăng acid uric máu</a></li>

            <li><a href="/vi/benh/tang-huyet-ap-3089/">Tăng huyết áp</a></li>

           
            <li><a href="/vi/benh/thoat-vi-hoanh-o-tre-em-4706/">Thoát vị hoành ở trẻ em</a></li>

            <li><a href="/vi/benh/thoat-vi-nao-4709/">Thoát vị não</a></li>

          
          
            <li><a href="/vi/benh/than-4745/">Than</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="u" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">U</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/uon-van-3130/">Uốn ván</a></li>

            <li><a href="/vi/benh/ung-thu-da-4452/">Ung thư da</a></li>

            <li><a href="/vi/benh/ung-thu-xuong-3142/">Ung thư xương</a></li>

            <li><a href="/vi/benh/ung-thu-dai-trang-3065/">Ung thư đại tràng</a></li>

            <li><a href="/vi/benh/ung-thu-phoi-3039/">Ung thư phổi</a></li>



            <li><a href="/vi/benh/ung-thu-hau-mon-3317/">Ung thư hậu môn</a></li>

            <li><a href="/vi/benh/ung-thu-ruot-non-3315/">Ung thư ruột non</a></li>

           
            <li><a href="/vi/benh/ung-thu-bieu-mo-tieu-thuy-xam-lan-4916/">Ung thư biểu mô tiểu thùy xâm lấn</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>



    <section id="v" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">V</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/viem-dai-trang-3061/">Viêm đại tràng</a></li>

            <li><a href="/vi/benh/viem-xoang-2953/">Viêm xoang</a></li>

            <li><a href="/vi/benh/virus-ebola-4917/">Virus Ebola</a></li>

            <li><a href="/vi/benh/viem-tuy-cap-3005/">Viêm tụy cấp</a></li>

            <li><a href="/vi/benh/viem-nang-long-4691/">Viêm nang lông</a></li>

            <li><a href="/vi/benh/viem-phe-quan-2955/">Viêm phế quản</a></li>

            <li><a href="/vi/benh/viem-duong-ho-hap-tren-2967/">Viêm đường hô hấp trên</a></li>

            <li><a href="/vi/benh/viem-hong-cap-2952/">Viêm họng cấp</a></li>

            <li><a href="/vi/benh/viem-amidan-2956/">Viêm amidan</a></li>

          
         
           
           
        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>





    <section id="x" class="disease-body collapsible-container collapsible-block collapsed screen-sm">
        <h3 class="collapse-trigger">X</h3>

        <ul class="collapsible-target">

            <li><a href="/vi/benh/xo-vua-dong-mach-3030/">Xơ vữa động mạch</a></li>

            <li><a href="/vi/benh/xuat-huyet-giam-tieu-cau-4690/">Xuất huyết giảm tiểu cầu</a></li>

            <li><a href="/vi/benh/xep-dot-song-3243/">Xẹp đốt sống</a></li>

            <li><a href="/vi/benh/xuat-huyet-vong-mac-3079/">Xuất huyết võng mạc</a></li>

            <li><a href="/vi/benh/xuat-tinh-nguoc-3047/">Xuất tinh ngược</a></li>

            <li><a href="/vi/benh/xo-gan-mat-bu-3323/">Xơ gan mất bù</a></li>

            <li><a href="/vi/benh/xoan-buong-trung-3077/">Xoắn buồng trứng</a></li>

            <li><a href="/vi/benh/xo-vua-dong-mach-nao-4896/">Xơ vữa động mạch não</a></li>

            <li><a href="/vi/benh/xo-vua-dong-mach-ngoai-bien-4882/">Xơ vữa động mạch ngoại biên</a></li>

        </ul>

        <span class="back-to-top smooth-scroll-link">
            <a href="{{url_for('danhsachbenh')}}">
                Trở về đầu trang
                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            </a>
        </span>
    </section>
</body>

</html>