body {
    background-color: #435165;
    margin: 0;
}
/* .web {
    background-image: url("https://images.unsplash.com/photo-1518091043644-c1d4457512c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2062&q=80");
    background-size: cover;
} */
/* .home {
    background-image: url("https://cdn.tuoitre.vn/thumb_w/980/2022/11/7/lich-thi-dauwc22-1667839900082897475372.png");
    background-position: center;
    background-size: cover; 
    height: 100%; 
    margin: 0;

} */
.login, .register {
    width: 400px;
    background-color: #ffffff;
    margin: 100px auto;
}
.login h1, .register h1  {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form , .register form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label, .register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"],.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.register form select{
    width: 340px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;

}

.login form input[type="submit"], .register form input[type="submit"]{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

/* Navbar container */
.navtop {
    background-color: #2f3947;
    height: 80px;
    width: 100%;
    border: 0;
    margin-top: 0px;
}
/* 
.navtop div {
  display: flex;
} */

.navtop div h1 a, .navtop div a, .dropbtn {
    font-weight: bold;
    background-color: #2f3947;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
  .navtop div a i {
    padding: 2px 8px 0 0;
}
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropbtn {
    border: none;
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #c1c4c8;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  #c1c4c8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
   /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
/*   
  Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  } 