<hmtl>
    <head>
        <title>Thêm Bệnh Nhân Mới</title>
    </head>
    <body>
        <h1>Thêm Bệnh Nhân Mới</h1>
        <div>
        <form method="post" action="/createpatient">
            <input type="number" name="id" placeholder="ID"/>
            <input type="number" name="cic_id" placeholder="CIC_ID"/>
            <input type="text" name="pname" placeholder="Họ và Tên"/>
            <input type="number" name="age" placeholder="Tuổi"/>
            <label for="Gender">Giới tính</label>
            <select id="Gender" name="Gender">
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select><br>
            <label for="tbed">Loại phòng</label>
            <select id="tbed" name="tbed">
                <option value="General Ward">Phòng chung(12 người)</option>
                <option value="Semi Sharing">Phòng đôi(2 người)</option>
                <option value="Single Room">Phòng Đơn(1 người)</option>
            </select><br>
            <input type="text" name="address" placeholder="Address"/>
            <input type="number" name="phone_number" placeholder="Phone Number"/>
            <label for="status">Trạng thái</label>
            <select id="status" name="status">
                <option value="Active">Trong Viện/option>
                <option value="Discharged">Xuất Viện</option>
            </select><br>
            <input type="submit" value="Submit">
        </form>
        </div>
    </body>
    </html>
