<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<nav class="navtop">
			<div>
				<h1>Chào trở lại, {{ username }}!</h1>
				<div class="dropdown">
					<button class="dropbtn">Bệnh Nhân
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="{{ url_for('patients') }}">Danh Sách Bệnh Nhân</a>
					  <a href="{{ url_for('create_patient') }}">Thêm Bệnh Nhân Mới</a>
					</div>
				  </div>
				  <div class="dropdown">
					<button class="dropbtn">Nhà thuốc
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="{{ url_for('prescription') }}">Đơn Thuốc</a>
					  <a href="{{ url_for('medicinestore') }}">Danh sách các loại thuốc</a>
					</div>
				  </div>		
				  <div class="dropdown">
					<button class="dropbtn">Dịch Vụ Chuẩn Đoán
					  <i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
					  <a href="{{ url_for('listofdiagnostics') }}">Danh Sách Chuẩn Đoán</a>
					  <a href="{{ url_for('diagnostics') }}">Thông Tin Chuẩn Đoán Của Bệnh Nhân</a>
					  <a href="#">Link 3</a>
					</div>
				  </div>			
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Đăng Xuất</a>
			</div>
		</nav>
	</head>
	<body class="home">
	</body>
</html>