<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hospital Management</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<nav class="navtop">
			<div>
				<h1>Hospital Management</h1>
                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Trang chủ</a>
				<a href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i>Đăng Nhập</a>
				<a href="{{ url_for('register') }}"><i class="fas fa-sign-in-alt"></i>Đăng Ký</a>
			</div>
		</nav>
	</head>
	<body class="web">
</html>